In [2]:
import pandas as pd

df = pd.read_csv('Salaries.csv')

df.columns = df.columns.str.strip()

C:\Users\thara\AppData\Local\Temp\ipykernel_26580\3113589111.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

In [8]:
# 1. Total salary cost increase from 2011 to 2014
total_2011 = df[df['Year'] == 2011]['TotalPay'].sum()
total_2014 = df[df['Year'] == 2014]['TotalPay'].sum()
increase_cost = total_2014 - total_2011

print(f"Total salary cost increased by ${increase_cost:,.2f} from 2011 to 2014.")

Total salary cost increased by $282,797,920.54 from 2011 to 2014.

In [10]:
# 2. Job title with highest mean salary in 2014
mean_salary_2014 = df[df['Year'] == 2014].groupby('JobTitle')['TotalPay'].mean()
top_mean_salary_job = mean_salary_2014.idxmax()
top_mean_salary_value = mean_salary_2014.max()

print(f"Job Title with highest mean salary in 2014: {top_mean_salary_job} (${top_mean_salary_value:,.2f})")

Job Title with highest mean salary in 2014: Chief Investment Officer ($339,653.70)

In [12]:
# 3. Money that could be saved by stopping OverTimePay in 2014
overtime_2014 = df[df['Year'] == 2014]['OvertimePay'].sum()
print(f"Money that could have been saved in 2014 by stopping OverTimePay: ${overtime_2014:,.2f}")

Money that could have been saved in 2014 by stopping OverTimePay: $205,918,599.27

In [14]:
# 4. Top 5 common jobs in 2014 and total cost
top5_jobs_2014 = df[df['Year'] == 2014]['JobTitle'].value_counts().head(5)
top5_jobs_cost = df[(df['Year'] == 2014) & (df['JobTitle'].isin(top5_jobs_2014.index))].groupby('JobTitle')['TotalPay'].sum()

print("Top 5 common jobs in 2014 and their total cost:")
print(top5_jobs_cost)

Top 5 common jobs in 2014 and their total cost:
JobTitle
Firefighter                     1.132836e+08
Public Svc Aide-Public Works    8.535454e+06
Registered Nurse                1.444065e+08
Special Nurse                   4.949874e+07
Transit Operator                1.520080e+08
Name: TotalPay, dtype: float64

In [16]:
# 5. Top earning employee across all years
df['TotalPayBenefits'] = df['TotalPayBenefits'].fillna(0)
top_earner = df.loc[df['TotalPayBenefits'].idxmax()]
print(f"Top earning employee: {top_earner['EmployeeName']} with ${top_earner['TotalPayBenefits']:,.2f}")

Top earning employee: NATHANIEL FORD with $567,595.43

In [18]:
# Last 5 common jobs in 2014
last5_jobs_2014 = df[df['Year'] == 2014]['JobTitle'].value_counts().tail(5)
last5_jobs_cost = df[(df['Year'] == 2014) & (df['JobTitle'].isin(last5_jobs_2014.index))].groupby('JobTitle')['TotalPay'].sum()

print("Last 5 common jobs in 2014 and their total cost:")
print(last5_jobs_cost)

Last 5 common jobs in 2014 and their total cost:
JobTitle
Asst Dir, Log Cabin Rnch         96812.41
Chf Prob Ofc, Juv Court         198104.36
Claims Process Clerk             61795.03
Electric Motor Repair Sprv 1    104563.68
Media Production Specialist      71636.84
Name: TotalPay, dtype: float64

In [20]:
# OvertimePay as % of TotalPayBenefits in 2014
total_benefits_2014 = df[df['Year'] == 2014]['TotalPayBenefits'].sum()
overtime_pct = (overtime_2014 / total_benefits_2014) * 100
print(f"OvertimePay was {overtime_pct:.2f}% of TotalPayBenefits in 2014.")

OvertimePay was 5.39% of TotalPayBenefits in 2014.

In [22]:
# Job title with lowest mean salary in 2014
lowest_mean_salary_job = mean_salary_2014.idxmin()
lowest_mean_salary_value = mean_salary_2014.min()
print(f"Job Title with lowest mean salary in 2014: {lowest_mean_salary_job} (${lowest_mean_salary_value:,.2f})")

Job Title with lowest mean salary in 2014: Special Assistant 15 ($0.00)